.close-btn {
  margin-left: auto !important;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100%;
  margin-bottom: 16px;
}
.save-btn {
  background-color: #73946b !important;
  color: white;
}
.save-btn:hover {
  background-color: #537d5d !important;
}
