<div class="layout">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-toolbar>
        <span class="material-symbols-outlined">local_shipping</span>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item class="menu" routerLink="/drivers-line" routerLinkActive="active">Водії</a>
        <a mat-list-item class="menu" routerLink="/route-line" routerLinkActive="active"
          >Маршрути</a
        >
        <a mat-list-item class="menu" routerLink="/work-line" routerLinkActive="active"
          >Перевезення</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="custom-toolbar"
        ><span class="app-title">Система управління перевезеннями</span>
        <span class="user-info" *ngIf="isLoggedIn()">
          <mat-icon> face</mat-icon>
          {{ userName }}
          <button mat-button (click)="logout()">
            <div style="font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48"></div>
            <mat-icon class="logout-icon" title="Вийти">logout</mat-icon>
          </button>
        </span>
      </mat-toolbar>
      <mat-toolbar>
        <span *ngIf="!isLoggedIn()">
          <a mat-button routerLink="/login">Увійти</a>
        </span>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
