/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.logout-icon {
  color: #f8f8f8;
  font-size: 24px !important;
  padding: 0 30px 0 20px !important;
}
.button-add-open {
  background-color: #e9a319 !important;
  color: white;
  border: none;
  border-radius: 14px;
  border-color: #9ebc8a;
  margin: 12px;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 2px 2px 1px 0.5px rgba(4, 33, 12, 0.2);
}
.button-add-open:hover {
  background-color: #d4880f !important;
}
