<h2>Додати перевезення</h2>
<form>
  <label>Маршрут</label>
  <input type="text" name="routeName" />

  <label>Водій</label>
  <input type="text" name="firstName" />

  <label>Дата відправлення</label>
  <input type="date" name="startDate" />
  <label>Дата прибуття</label>
  <input type="date" name="endDate" />

  <label>Премія (грн)</label>
  <input type="number" name="bonus" />

  <!-- <select name="route">
    <option *ngFor="let route of routes" [value]="route.id">
      {{ route.name }} ({{ route.distance }} км)
    </option>
  </select>

  <label>Водій</label>
  <select name="driver" multiple>
    <option *ngFor="let driver of drivers" [value]="driver.id">
      {{ driver.lastName }} {{ driver.firstName }}
    </option>
  </select>

  <label>Дата відправлення</label>
  <input type="date" name="startDate" />

  <label>Дата прибуття</label>
  <input type="date" name="endDate" />

  <label>Премія (грн)</label>
  <input type="number" name="bonus" /> -->

  <button type="submit">Зберегти перевезення</button>
</form>
<div class="table-container">
  <table>
    <caption>
      Виконана робота
    </caption>
    <thead>
      <tr>
        <th>Маршрут</th>
        <th>Водій</th>
        <th>Відправлення</th>
        <th>Премія</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Трипілля</td>
        <td>Іваненко Іван Іванович</td>
        <td>20.08.2025</td>
        <td>500</td>
      </tr>
      <tr>
        <td>Варшава</td>
        <td>Бондар Марія Сергіївна</td>
        <td>20.09.2025</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Львів</td>
        <td>Михайло Іванович</td>
        <td>25.08.2025</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>
  <div></div>
</div>
